/**
 * Site variables
 */
$dark: #424652;
$light: #9a9Da4;
$highlight:#8bc6db;
$border: #E9E9E9;

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width:90%;
  margin: 0 auto;
}

/**
 * Site header
 */
#main-navigation {
  padding:1.5em 5%;
  border-bottom:1px solid $border;
  .name {
    font-weight:700;
    font-size: .85em;
    letter-spacing:4px;
    text-transform:uppercase;
    text-decoration:none;
    border:2px solid $border;
    padding:0.7em 1rem;
    color: $dark;
    float:left;
  }
  nav {
    float: right;
    padding-top: .65rem;
    a {
      color: $dark;
      text-decoration:none;
      margin:0 1rem;
      font-size: 1rem;
      font-weight:300;
    }
  }
}

/**
 * Site footer
 */

/**
 * Page content
 */

 p {
  color:$light;
   a {
    color: $highlight;
    text-decoration:none;
   }
 }

/**
 * Posts
 */
