@import 'normalize';

/**
 * Site variables
 */
$dark: #424652;
$light: #9a9Da4;
$highlight:#8bc6db;
$border: #E9E9E9;

/**
 * Site header
 */
#main-navigation {
  padding:2.5em 5%;
  .name {
    font-weight:700;
    font-size: 1em;
    text-transform:uppercase;
    border:2px solid $border;
    padding:0.7em 1rem;
    color: $dark;
    float:left;
  }
  nav {
    float: right;
    a {
      color: $dark;
      margin:0 1rem;
      font-size: 1rem;
    }
  }
}

/**
 * Site footer
 */

/**
 * Page content
 */

/**
 * Posts
 */
