---
layout: default
title: FLRNT - Articles
description: Sometimes I write things.
category: articles
---

<h1 id="page_title">stuff i've written</h1>
<div id="post_wrapper" class="skinny_wrapper">
  {% for posts in paginator.posts %}
    <div class="post">
      <p class="date">{{ posts.date | date: '%B %d, %Y' }}</p>
      <h2><a href="{{ posts.url }}">{{ posts.title }}</a></h2>
      <span class="tag"><i class="fa fa-clock-o"></i> {{ posts.timereading }} min read | <i class="fa fa-flag-o"></i> {{ posts.language }}</span>
      <hr>
    </div>
  {% endfor %}
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous"><i class="fa fa-chevron-left"></i></a>
    {% else %}
      <span class="previous"><i class="fa fa-chevron-left"></i></span>
    {% endif %}
    <span class="page_number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-chevron-right"></i></a>
    {% else %}
      <span class="next"><i class="fa fa-chevron-right"></i></span>
    {% endif %}
  </div>
</div>
